<li id="list-<%= list.id %>">
  <div class="container">
    <h2 class="row center card-title"><%= list.name %></h2>
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="card">
          <div class="card-content">
            <ul class="collection" >
              <%= render list.list_items %>
            </ul>
          <div class="card-action">
            <div class="card-action">
              <%= link_to 'Add Item', new_list_items_path(list), class: "btn waves-effect waves-light" %>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
