<script>
$(document).on('ready page:load', function() {
  if (window.location.pathname !== '/lists') {
    return false;
  }
  console.log('refresh')
    var REFRESH_INTERVAL_IN_MILLIS = 1000;
    setTimeout(function(){
      Turbolinks.enableTransitionCache(true);
      Turbolinks.visit(location.toString());
      Turbolinks.enableTransitionCache(false);
    }, REFRESH_INTERVAL_IN_MILLIS);
});
// window.setInterval(function(){
//   window.location.reload();
// }, 1000);
</script>
<ul class="lists">
  <div class="row">
  <% @lists.each do |list| %>
    <%= sync partial: 'list', resource: list %>
  <% end %>
  </div>
</ul>

